<template>
<div>
    <b-alert v-for="one in err" variant="danger" show>{{one.param}}: {{one.msg}}</b-alert>
    <b-alert variant="success" :show="success">Save success</b-alert>
  <card class="card" title="Edit Password">
    <div>
      <form @submit.prevent>
        <div class="row">
          <div class="col-md-4">
            <label for="input-live">Password:</label>
            <b-form-input
             id="input-user"
             v-model="user.password"
             :state="formInputStatus.password"
             aria-describedby="input-live-help input-live-feedback"
             placeholder="Password"
             type="password"
             trim
             ></b-form-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="input-live">New password:</label>
            <b-form-input
             id="input-user"
             v-model="user.newPassword"
             :state="formInputStatus.newPassword"
             aria-describedby="input-live-help input-live-feedback"
             placeholder="New Password"
             type="password"
             trim
             ></b-form-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="input-live">Repeat password:</label>
            <b-form-input
             id="input-user"
             v-model="user.repeatPassword"
             :state="formInputStatus.repeatPassword"
             aria-describedby="input-live-help input-live-feedback"
             placeholder="Repeat password"
             type="password"
             trim
             ></b-form-input>
          </div>
        </div>
        <div class="text-center">
          <b-button variant="primary"
                    round
                    @click="updatePassword">Update Password
          </b-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</div>
</template>
<script>

export default {
  data() {
    return {
      user: {
        password: "",
        newPassword: "",
        repeatPassword: "",
      },
      err: "",
      success: false,
      formInputStatus: {
          password: null,
          newPassword: null,
          repeatPassword: null,
      },
    };
  },
  mounted() {
    this.$api.get("/users/settings").then((response) => {
            console.log(response);
            this.user.username = response.data.username;
            this.user.email = response.data.email;

      }).catch(err => {

    });
  },
  methods: {
    updatePassword() {
    const { password, newPassword, repeatPassword } = this.user;
    console.log( password, newPassword, repeatPassword );
        this.$api.post('/users/password', { password, newPassword, repeatPassword })
        .then(() => {
              for (let key in this.formInputStatus) {
                      this.formInputStatus[key] = true;
                    };
                 this.err = {};
                 this.success = true;
              })
              .catch(err => {
                this.err = err.response.data.err;
                this.success = null;
                for (let key in this.formInputStatus) {
                    this.formInputStatus[key] = null;
                };
                this.err.forEach((data)=>{
                     this.formInputStatus[data.param] = false;
                });
              });
    }
  }
};
</script>
<style>
</style>
