<template>
<div>
<b-alert v-for="one in err" variant="danger" show>{{one.param}}: {{one.msg}}</b-alert>
<b-alert variant="success" :show="success">Save success</b-alert>
  <card class="card" title="Edit Profile">
    <div>
      <form @submit.prevent>
        <div class="row">
          <div class="col-md-4">
            <label for="input-live">Username:</label>
            <b-form-input
             id="input-user"
             v-model="user.username"
             :state="formInputStatus.username"
             aria-describedby="input-live-help input-live-feedback"
             placeholder="Username"
             trim
             ></b-form-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="input-live">Email:</label>
            <b-form-input
             id="input-email"
             v-model="user.email"
             :state="formInputStatus.email"
             aria-describedby="input-live-help input-live-feedback"
             placeholder="Email"
             trim
             ></b-form-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="input-password">Password:</label>
            <b-form-input
             id="input-password"
             v-model="user.password"
             :state="formInputStatus.password"
             aria-describedby="input-live-help input-live-feedback"
             placeholder="Password"
             trim
             type="password"
             ></b-form-input>
          </div>
        </div>
        <div class="text-center">
          <b-button variant="primary"
                    round
                    @click="updateProfile">Update Profile
          </b-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</div>
</template>
<script>
export default {
  data() {
    return {
      user: {
        username: "",
        email: "",
      },
      err: "",
      success: false,
      formInputStatus: {
          username: null,
          email: null,
          password: null,
      },
    };
  },
  mounted() {
    this.$api.get("/users/settings").then((response) => {
            console.log(response);
            this.user.username = response.data.username;
            this.user.email = response.data.email;
    }).catch(err => {

    });
  },

  methods: {
    updateProfile() {
    const { username, email, password } = this.user;
      this.$api.post('/users/settings', { username, email, password})
      .then(() => {
            for (let key in this.formInputStatus) {
                    this.formInputStatus[key] = true;
                  };
               this.err = {};
               this.success = true;
            })
            .catch(err => {
              this.err = err.response.data.err;
              this.success = null;
              for (let key in this.formInputStatus) {
                  this.formInputStatus[key] = null;
              };
              this.err.forEach((data)=>{
                   this.formInputStatus[data.param] = false;
              });
            });
    }
  }
};
</script>
<style>
</style>
