<template>
   <div class="row">
     <modal-loc v-show="modalOpen"
            @close="actionModal"
            @save="save"
            :err="err"
            :id="location.id"
            :name="location.name"
            :parent="location.parent"
            :title="status"
            :formInputStatus="formInputStatus"
            :selected="table.data">
    </modal-loc>
    <div class="col-12">
      <card :title="table.title" :subTitle="table.subTitle">
        <div slot="raw-content" class="table-responsive">
          <div class="col-11">
            &ensp;
            <p-button slot="header-right"
                      type="success"
                      alt="add"
                      @click.native="createItem"
                      round icon size="lg">
                      <i class="nc-icon ti-plus"></i>
            </p-button>
          </div>
          <div class="col-1">
            <b-form-select v-model="limit"
                           :options="limitOptions"
                           value-field="value"
                           text-field="text"
                           size="sm"
                           class="mt-2">
           </b-form-select>
         </div>
         <location-table :data="table.data"
                         :columns="table.columns"
                         @delete="deleteItem"
                         @update="updateItem"
                         @sort="sortItem">
         </location-table>
       </div>
     </card>
     <div class="overflow-auto">
       <b-pagination-nav first-number
                         last-number
                         :link-gen="linkGen"
                         :number-of-pages="pages"
                         v-model="page"
                         use-router>
      </b-pagination-nav>
    </div>
  </div>
</div>
</template>

<script>
  import { LocationTable, ModalLoc }
  from '@/components';
  const tableColumns = ['Id', 'Name', 'Parent'];
  export default {
    name: 'Location',
    components: {
      LocationTable,
      ModalLoc,
    },
    mounted() {
      this.fetchData();
    },
    data() {
      return {
        location: {
          id: '',
          name: '',
          parent: '',
        },
        limitOptions: [{
          text: '10',
          value: 10,
        }, {
          text: '20',
          value: 20,
        }, {
          text: '30',
          value: 30,
        }, {
          text: '50',
          value: 50,
        }, {
          text: '100',
          value: 100,
        }],
        pages: 1,
        page: 1,
        limit: 10,
        sort: '',
        success: false,
        status: '',
        selected: 'undefined',
        table: {
          title: 'Location Table',
          subTitle: 'Location of countries, states and city',
          columns: [...tableColumns],
          data: [{}],
        },
        formInputStatus: {
          id: null,
          name: null,
          pasrent: null,
        },
        err:[],
        modalOpen: false,
      };
    },
    watch: {
      '$route.query.page': {
        immediate: true,
        handler(page) {
          page = parseInt( page ) || 1;
          this.page = page;
          this.fetchData();
        },
      },
      '$route.query.sort': {
        immediate: true,
        handler(sort) {
          this.sort = sort;
          this.fetchData();
        },
  },
      'limit': function() {
        this.fetchData();
      },
  },
    methods: {
      linkGen(pageNum) {
        const query = pageNum === 1 ? '/location' : `/location?page=${pageNum}`;
        return {
          path: query,
          query: {
            sort: this.sort,
          },
        };
      },
      sortItem(param) {
        this.$router.push({
          path: this.$route.fullPath,
          query: {
            sort: param,
          },
        });
      },
      createItem() {
        this.location.id = '';
        this.location.name = '';
        this.location.parent = 'undefined';
        this.actionModal('create');
      },
      updateItem(param) {
        this.location.id = param.id;
        this.location.name = param.name;
        this.location.parent = !!param.parent ? param.parent : 'undefined';

        this.actionModal('update');
      },
      deleteItem(param) {
        if (confirm('Are you sure?')) {
          this.$api.delete(`/dashboard/location/${param.id}`).then((response) => {
            if (response.data.loc) {
              this.table.data = response.data.loc.map((data) => {
                if (data.parent === 'undefined') {
                  data.parent = '';
                }
              });
            }
            this.fetchData();
          }).catch((err) => {});
        }
  },

      fetchData() {
        this.$api.get('/dashboard/location', {
          params: {
            page: this.page,
            limit: this.limit,
            sort: this.sort,
          }
        }).then((response) => {
          if (response.data.loc) {
            this.table.data = response.data.loc.map((data)=> {
              if (data.parent === 'undefined') {
                data.parent = '';
              }
              return {
                id: data.id,
                name: data.name,
                parent: data.parent
              };
            });
          }
          this.pages = Math.ceil(response.data.total / response.data.limit);
        }).catch(err => {});
      },
      actionModal(status) {
        if (status) {
          this.status = status;
        }

        this.modalOpen = !this.modalOpen;
        if (!this.modalOpen) {
          this.err = {};
          this.location.id = '';
          this.location.name = '';
          this.location.parent = 'undefined';
        }
      },
      save(data) {
        if (this.status === 'create') {
          const { id, name, parent } = data;
          this.$api.post('/dashboard/location/', { id, name, parent })
            .then((response) => {
              if (response.data.msg !== 'success') {
                this.err = response.data.err;
              } else {
                this.err = {};
                this.actionModal();
                this.fetchData();
              }
            }).catch((err) => {
              console.log(err);
            });
        }
        if (this.status === 'update') {
          const { id, name, parent } = data;
          this.$api.put(`/dashboard/location/${id}`, { id, name, parent }).then((response) => {
            if (response.data.msg !== 'success') {
              this.err = response.data.err;
              this.success = null;
              for (let key in this.formInputStatus) {
                  this.formInputStatus[key] = null;
              };
              this.err.forEach((data)=>{
                   this.formInputStatus[data.param] = false;
              });
            } else {
              this.error = '';
              this.actionModal();
              this.fetchData();
            }
          }).catch((err) => {
            console.log(err);
          });
        }
      },
    },
  };

</script>
