<template>
<div class="wrapper wrapper-full-page">
  <div class="full-page login-page">
    <div class="content">
      <div class="container">
        <b-alert v-model="showDismissibleAlert" variant="danger" class="m-1">
          {{ error }}
        </b-alert>
        <div class="row">

          <div class="col-md-4 col-sm-6 offset-md-4 offset-3 ">
            <card class="card" title="Login">
              <div>
                <form @submit.prevent>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="input-live">Username:</label>
                      <b-form-input
                       id="input-live"
                       v-model="user.username"
                       :state="errorStatus"
                       aria-describedby="input-live-help input-live-feedback"
                       placeholder="Username"
                       trim
                       ></b-form-input>
                      <fg-input type="password"
                                label="Password"
                                placeholder="Password"
                                v-model="user.password">
                      </fg-input>
                  </div>
                </div>
                <div class="text-center">
                  <b-button variant="primary"
                            round
                            @click="login">let's go
                  </b-button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</template>
<script>
export default {
  name: "login",
  data() {
    return {
      showDismissibleAlert: false,
      user: {
        username: '',
        password: '',
      },
      error: '',
      errorStatus: null,
    };
  },
  methods: {
    login() {
      const { username, password } = this.user;
      this.$store.dispatch('login', { username, password })
      .then(() => {
          const token = localStorage.getItem('token')
        if (token) {
            this.$api.defaults.headers.common['Authorization'] = `Bearer ${token}`
        }
          //  location.reload(); //насколько это норм практика?
            this.$router.push('/dashboard');
      })
     .catch(err => {
          this.showDismissibleAlert = true;
          this.error = err.response.data.message;
          this.errorStatus = false;
     });
    }
  }
};
</script>
<style>
</style>
