<template>
   <div class="row">
    <div class="col-12">
      <card :title="table.title" :subTitle="table.subTitle">
        <div slot="raw-content" class="table-responsive">
          <div class="col-11">
            &ensp;
            <p-button slot="header-right"
                      type="success"
                      alt="add"
                      @click.native="createItem"
                      round icon size="lg">
                      <i class="nc-icon ti-plus"></i>
            </p-button>
          </div>
          <div class="col-1">
            <b-form-select v-model="limit"
                           :options="limitOptions"
                           value-field="value"
                           text-field="text"
                           size="sm"
                           class="mt-2">
           </b-form-select>
         </div>
         <news-table :data="table.data"
                         :columns="table.columns"
                         @delete="deleteItem"
                         @update="updateItem"
                         @sort="sortItem">
         </news-table>
       </div>
     </card>
     <div class="overflow-auto">
       <b-pagination-nav first-number
                         last-number
                         :link-gen="linkGen"
                         :number-of-pages="pages"
                         v-model="page"
                         use-router>
      </b-pagination-nav>
    </div>
  </div>
</div>
</template>

<script>
  import { NewsTable }
  from '@/components';
  const tableColumns = ['Title', 'Link', 'Content', 'Rsstitle'];
  export default {
    name: 'News',
    components: {
      NewsTable,
    },
    mounted() {
      this.fetchData();
    },
    data() {
      return {
        news: {
          title: '',
          link: '',
          content: '',
          url: '',
          rsstitle: '',
        },
        limitOptions: [{
          text: '10',
          value: 10,
        }, {
          text: '20',
          value: 20,
        }, {
          text: '30',
          value: 30,
        }, {
          text: '50',
          value: 50,
        }, {
          text: '100',
          value: 100,
        }],
        pages: 1,
        page: 1,
        limit: 10,
        sort: '',
        success: false,
        status: '',
        selected: 'undefined',
        table: {
          title: 'News Table',
          subTitle: 'News content',
          columns: [...tableColumns],
          data: [{}],
        },
        formInputStatus: {
          id: null,
          name: null,
          pasrent: null,
        },
        err:[],
        modalOpen: false,
      };
    },
    watch: {
      '$route.query.page': {
        immediate: true,
        handler(page) {
          page = parseInt( page ) || 1;
          this.page = page;
          this.fetchData();
        },
      },
      '$route.query.sort': {
        immediate: true,
        handler(sort) {
          this.sort = sort;
          this.fetchData();
        },
  },
      'limit': function() {
        this.fetchData();
      },
  },
    methods: {
      linkGen(pageNum) {
        const query = pageNum === 1 ? '/news' : `/news?page=${pageNum}`;
        return {
          path: query,
          query: {
            sort: this.sort,
          },
        };
      },
      sortItem(param) {
        this.$router.push({
          path: this.$route.fullPath,
          query: {
            sort: param,
          },
        });
      },
    
      deleteItem(param) {
        if (confirm('Are you sure?')) {
          this.$api.delete(`/dashboard/news/${param.id}`).then((response) => {
            if (response.data.loc) {
              this.table.data = response.data.loc.map((data) => {
                if (data.parent === 'undefined') {
                  data.parent = '';
                }
              });
            }
            this.fetchData();
          }).catch((err) => {});
        }
  },

      fetchData() {
        this.$api.get('/dashboard/news', {
          params: {
            page: this.page,
            limit: this.limit,
            sort: this.sort,
          }
        }).then((response) => {
          if (response.data.news) {
            this.table.data = response.data.news.map((data)=> {
              if (data.parent === 'undefined') {
                data.parent = '';
              }
              return {
                title: data.title,
                link: data.link,
                content: data.content,
                rsstitle: data.rssTitle,
              };
            });
          }
          this.pages = Math.ceil(response.data.total / response.data.limit);
        }).catch(err => {});

      },
      save(data) {
        if (this.status === 'create') {
          const { id, name, parent } = data;
          this.$api.post('/dashboard/news/', { id, name, parent })
            .then((response) => {
              if (response.data.msg !== 'success') {
                this.err = response.data.err;
              } else {
                this.err = {};

                this.fetchData();
              }
            }).catch((err) => {
              console.log(err);
            });
        }
        if (this.status === 'update') {
          const { id, name, parent } = data;
          this.$api.put(`/dashboard/news/${id}`, { id, name, parent }).then((response) => {
            if (response.data.msg !== 'success') {
              this.err = response.data.err;
              this.success = null;
              for (let key in this.formInputStatus) {
                  this.formInputStatus[key] = null;
              };
              this.err.forEach((data)=>{
                   this.formInputStatus[data.param] = false;
              });
            } else {
              this.error = '';

              this.fetchData();
            }
          }).catch((err) => {
            console.log(err);
          });
        }
      },
    },
  };

</script>
