<template>
   <div class="row">
     <modal-rss v-show="modalOpen"
            @close="actionModal"
            @save="save"
            :err="err"
            :titleChannel="rss.title"
            :url="rss.url"
            :id="rss.id"
            :location="rss.location"
            :title="status"
            :formInputStatus="formInputStatus"
            :selected="table.data"
            :loading="loading">
    </modal-rss>
    <div class="col-12">
      <card :title="table.title" :subTitle="table.subTitle">
        <div slot="raw-content" class="table-responsive">
          <div class="col-11">
            &ensp;
            <p-button slot="header-right"
                      type="success"
                      alt="add"
                      @click.native="createItem"
                      round icon size="lg">
                      <i class="nc-icon ti-plus"></i>
            </p-button>
          </div>
          <div class="col-1">
            <b-form-select v-model="limit"
                           :options="limitOptions"
                           value-field="value"
                           text-field="text"
                           size="sm"
                           class="mt-2">
           </b-form-select>
         </div>
         <rss-table :data="table.data"
                         :columns="table.columns"
                         @delete="deleteItem"
                         @update="updateItem"
                         @sort="sortItem">
         </rss-table>
       </div>
     </card>
     <div class="overflow-auto">
       <b-pagination-nav first-number
                         last-number
                         :link-gen="linkGen"
                         :number-of-pages="pages"
                         v-model="page"
                         use-router>
      </b-pagination-nav>
    </div>
  </div>
</div>
</template>

<script>
  import { RssTable, ModalRss }
  from '@/components';
  const tableColumns = ['Title', 'Url', 'Location'];
  export default {
    name: 'Rss',
    components: {
      RssTable,
      ModalRss,
    },
    mounted() {
      this.fetchData();
    },
    data() {
      return {
        rss: {
          title: '',
          url: '',
          location: '',
          id: '',
        },
        limitOptions: [{
          text: '10',
          value: 10,
        }, {
          text: '20',
          value: 20,
        }, {
          text: '30',
          value: 30,
        }, {
          text: '50',
          value: 50,
        }, {
          text: '100',
          value: 100,
        }],
        loading: false,
        pages: 1,
        page: 1,
        limit: 10,
        sort: '',
        success: false,
        status: '',
        selected: 'undefined',
        table: {
          title: 'RSS Table',
          subTitle: 'Rss of sites',
          columns: [...tableColumns],
          data: [{}],
        },
        formInputStatus: {
          title: null,
          location: null,
          url: null,
        },
        err:[],
        modalOpen: false,
      };
    },
    watch: {
      '$route.query.page': {
        immediate: true,
        handler(page) {
          page = parseInt( page ) || 1;
          this.page = page;
          this.fetchData();
        },
      },
      '$route.query.sort': {
        immediate: true,
        handler(sort) {
          this.sort = sort;
          this.fetchData();
        },
  },
      'limit': function() {
        this.fetchData();
      },
  },
    methods: {
      linkGen(pageNum) {
        const query = pageNum === 1 ? '/rss' : `/rss?page=${pageNum}`;
        return {
          path: query,
          query: {
            sort: this.sort,
          },
        };
      },
      sortItem(param) {
        this.$router.push({
          path: this.$route.fullPath,
          query: {
            sort: param,
          },
        });
      },
      createItem() {
        this.rss.title = '';
        this.rss.url = '';
        this.rss.location = 'undefined';
        this.rss.id =  '';
        this.actionModal('create');
      },
      updateItem(param) {
        this.rss.title = param.title;
        this.rss.url = param.url;
        this.rss.location = !!param.location ? param.location : 'undefined';
        this.rss.id =  param.id;
        this.actionModal('update');
      },
      deleteItem(param) {
        if (confirm('Are you sure?')) {
          this.$api.delete(`/dashboard/rss-list/${param.id}`).then((response) => {
            if (response.data.rss) {
              this.table.data = response.data.rss.map((data) => {
                if (data.location === 'undefined') {
                  data.location = '';
                }
              });
            }
            this.fetchData();
          }).catch((err) => {});
        }
  },

      fetchData() {
        this.$api.get('/dashboard/rss-list', {
          params: {
            page: this.page,
            limit: this.limit,
            sort: this.sort,
          }
        }).then((response) => {
          if (response.data.rss) {

            this.table.data = response.data.rss.map((data)=> {
              if (data.location === 'undefined') {
                data.location = '';
              }
              return {
                id: data._id,
                title: data.title,
                url: data.url,
                location: data.location
              };
            });

          }

          this.pages = Math.ceil(response.data.total / response.data.limit);
        }).catch(err => {});
      },
      actionModal(status) {
        if (status) {
          this.status = status;
        }

        this.modalOpen = !this.modalOpen;
        if (this.modalOpen === false) {
          this.loading = false;
          this.err = {};
          this.rss.title = '';
          this.rss.url = '';
          this.rss.location = 'undefined';
          this.rss.id = '';
        }
      },
      save(data) {
        if (this.status === 'create') {
          const { title, url, location } = data;
          this.loading = true;
          this.$api.post('/dashboard/rss-list/', { title, url, location })
            .then((response) => {
              if (response.data.msg !== 'success') {
                this.err = response.data.err;
                this.loading = false;
              } else {
                this.err = {};
                this.rss.title = '';
                this.rss.url = '';
                this.rss.location = 'undefined';
                this.rss.id = '';
                this.loading = false;
                this.actionModal();
                this.fetchData();
              }
            }).catch((err) => {
              console.log(err);
            });
        }
        if (this.status === 'update') {
          const { title, url, location, id } = data;
          this.$api.put(`/dashboard/rss-list/${id}`, { title, url, location }).then((response) => {
            if (response.data.msg !== 'success') {
                this.err = response.data.err;
            } else {
              this.err = {};
              this.rss.title = '';
              this.rss.url = '';
              this.rss.location = 'undefined';
              this.rss.id = '';
              this.actionModal();
              this.fetchData();
            }
          }).catch((err) => {
            console.log(err);
          });
        }
      },
    },
  };

</script>
