<template>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <edit-profile-form>
        </edit-profile-form>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12">
        <edit-password-form>
        </edit-password-form>
      </div>
    </div>
</template>
<script>
import EditProfileForm from "./UserProfile/EditProfileForm.vue";
import EditPasswordForm from "./UserProfile/EditPasswordForm.vue";

export default {
  components: {
    EditProfileForm,
    EditPasswordForm,
  }
};
</script>
<style>
</style>
