<style lang="scss">

.vue-notifyjs.notifications {
    .alert {
        z-index: 10000;
    }
    .list-move {
        transition: transform 0.3s, opacity 0.4s;
    }
    .list-item {
        display: inline-block;
        margin-right: 10px;
    }
    .list-enter-active {
        transition: transform 0.2s ease-in, opacity 0.4s ease-in;
    }
    .list-leave-active {
        transition: transform 1s ease-out, opacity 0.4s ease-out;
    }
    .list-enter {
        opacity: 0;
        transform: scale(1.1);
    }
    .list-leave-to {
        opacity: 0;
        transform: scale(1.2, 0.7);
    }
}

</style>

<template>

<div :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>
    <router-view></router-view>
</div>

</template>

<script>

import axios from 'axios';
export default {
    computed: {
        isAuthenticated: function() {
            return this.$store.getters.isAuthenticated
        }
    },
    methods: {
        logout: function() {
            this.$store.dispatch('logout')
                .then(() => {
                    this.$router.push('/login')
                })
        }
    },
    created: function() {
        this.$api.interceptors.response.use(undefined, (err) => {
            if (err.response.status === 401 && err.response.config && !err.response.config.__isRetryRequest) {
                this.$store.dispatch('logout');
                this.$router.push('/login')
            }
            return Promise.reject(err);
        });
    }
}

</script>
