<template>
  <div class=" modal-mask">
    <div class="modal-dialog">
      <b-alert v-for="one in err" variant="danger" show>{{one.param}}: {{one.msg}}</b-alert>
      <b-alert variant="success" :show="success">Save success</b-alert>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{title}} location</h3>
          <button @click="closeModal"
                  type="button"
                  class="close"
                  aria-hidden="true">
                  ×
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label for="input-live">Id:</label>
          <b-form-input
           id="input-id"
           v-model="location.id"
           :state="formInputStatusModal.id"
           aria-describedby="input-live-help input-live-feedback"
           placeholder="Id"
           type="text"
           trim
           ></b-form-input>
        </div>
        <div class="form-group">
          <label for="input-live">Name:</label>
          <b-form-input
           id="input-name"
           v-model="location.name"
           :state="formInputStatusModal.name"
           aria-describedby="input-live-help input-live-feedback"
           placeholder="Name"
           type="text"
           trim
           ></b-form-input>
        </div>
        <div class="form-group">
              Parent
              <b-form-select v-model="location.parent"
                             :options="localId"
                             value-field="id"
                             text-field="id"
                             size="sm"
                             class="mt-3">

                             <b-form-select-option :value="undefined"
                                                    disabled>
                                                    Basic
                             </b-form-select-option>
              </b-form-select>
            </div>
        <div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"  @click="save"  class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
</div>
</template>
<script>
  export default {
    name: 'modal-loc',
    props: {
      err: Array,
      selected: Array,
      title: String,
      id: String,
      name: String,
      parent: String,
      success: Boolean,
      formInputStatus: Object,
    },
    data() {
      this.getLocId();
      return {
        localId: [],
        location: {
          id: this.id,
          name: this.name,
          parent: 'undefined',
        },
        formInputStatusModal: {
          id: null,
          name: null,
          pasrent: null,
        },
      };
    },
    methods: {
      closeModal() {
        this.$emit('close');
      },
      save() {
        this.$emit('save', this.location);
      },
      getLocId() {
        this.$api.get('/dashboard/location-id/')
          .then((response) => {
            this.localId = response.data.loc;
          })
          .catch((err) => {
            console.log(err);
          });
      },
    },
    watch: {
      id: function() {
        this.location.id = this.id;
      },
      name: function() {
        this.location.name = this.name;
      },
      parent: function() {
        this.location.parent = this.parent;
      },
      err: function(){
        this.success = null;
        for (let key in this.formInputStatus) {
            this.formInputStatusModal[key] = null;
        };
        this.err.forEach((data)=>{
             this.formInputStatusModal[data.param] = false;
        });
      }
    },
  };
</script>


<style lang="css" scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: top 1s ease-out 0.5s;
  }
  .modal-header {
    transition: top 1s ease-out 0.5s;

  }

</style>
