<template>
  <div class=" modal-mask">
    <div class="modal-dialog">
      <b-alert v-for="one in err" variant="danger" show>{{one.param}}: {{one.msg}}</b-alert>
      <b-alert variant="success" :show="success">Save success</b-alert>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{title}} rss</h3>
          <button @click="closeModal"
                  type="button"
                  class="close"
                  aria-hidden="true">
                  ×
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label for="input-live">Title:</label>
          <b-form-input
           id="input-title"
           v-model="rss.title"
           :state="formInputStatusModal.title"
           aria-describedby="input-live-help input-live-feedback"
           placeholder="Title"
           type="text"
           trim
           :disabled="loading"
           ></b-form-input>
        </div>
        <div class="form-group">
          <label for="input-live">Url:</label>
          <b-form-input
           id="input-url"
           v-model="rss.url"
           :state="formInputStatusModal.url"
           aria-describedby="input-live-help input-live-feedback"
           placeholder="Url"
           type="text"
           trim
           :disabled="loading"
           ></b-form-input>
        </div>
        <div class="form-group">
              Location
              <b-form-select v-model="rss.location"
                             :options="localId"
                             value-field="id"
                             text-field="id"
                             size="sm"
                             class="mt-3"
                             :disabled="loading">

                             <b-form-select-option :value="undefined"
                                                    disabled>
                                                    Basic
                             </b-form-select-option>
              </b-form-select >
            </div>
        <div>
      </div>
        <div class="text-center" :hidden="!loading">
          <b-spinner variant="primary" label="Text Centered"></b-spinner>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button"  @click="save"  class="btn btn-primary" :disabled="loading">Save</button>
    </div>
  </div>
</div>
</div>
</template>
<script>
  export default {
    name: 'modal-rss',
    props: {
      err: Array,
      selected: Array,
      title: String,
      titleChannel: String,
      url: String,
      location: String,
      id: String,
      success: Boolean,
      formInputStatus: Object,
      loading: Boolean,
    },
    data() {
      this.getLocId();
      return {
        localId: [],
        rss: {
          title: this.titleChannel,
          url: this.url,
          location: 'undefined',
          id: this.id,
        },
        formInputStatusModal: {
          title: null,
          url: null,
          location: null,
        },
      };
    },
    methods: {
      closeModal() {
        this.$emit('close');
      },
      save() {
        this.$emit('save', this.rss);
      },
      getLocId() {
        this.$api.get('/dashboard/location-id/')
          .then((response) => {
            this.localId = response.data.loc;
          })
          .catch((err) => {
            console.log(err);
          });
      },
    },
    watch: {
      titleChannel: function() {
        this.rss.title = this.titleChannel;
      },
      url: function() {
        this.rss.url = this.url;
      },
      location: function() {
        this.rss.location = this.location;
      },
      id: function() {
        this.rss.id = this.id;
      },
      err: function(){
        this.success = null;
        for (let key in this.formInputStatus) {
            this.formInputStatusModal[key] = null;
        };
        this.err.forEach((data)=>{
             this.formInputStatusModal[data.param] = false;
        });
      }
    },
  };
</script>


<style lang="css" scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: top 1s ease-out 0.5s;
  }
  .modal-header {
    transition: top 1s ease-out 0.5s;

  }

</style>
