<template>
  <table class="table" :class="tableClass">
    <thead>
      <slot name="columns">
        <th v-for="column in columns"
            @click="sortBy(column)"
            :class="{ active: !!sortOrders[column], sort: true}">
            {{column}}
            <span :class="{ active: !!sortOrders[column], 'ti-angle-up': sortOrders[column] > 0}"></span>
            <span :class="{ active: !!sortOrders[column], 'ti-angle-down': sortOrders[column] < 0}"></span>
          </th>
          <th>Action</th>
        </slot>
      </thead>
      <tbody>
        <tr v-for="(item, index) in data" :key="index">
          <slot :row="item">
            <td v-for="(column, index) in columns"
                :key="index"
                v-if="hasValue(item, column)">
                {{itemValue(item, column)}}
            </td>
            <td>
              <button type="button" class="btn btn-primary"  @click="updateItem(item)">
                <span class="ti-pencil"></span>
              </button>&ensp;
              <button type="button" @click="deleteItem(item)" class="btn btn-danger">
                <span class="ti-trash"></span>
              </button>
            </td>
          </slot>
        </tr>
    </tbody>
  </table>
</template>
<script>
  export default {
    name: 'rss-table',
    props: {
      columns: Array,
      data: Array,
      type: {
        type: String,
        default: 'striped',
      },
      title: {
        type: String,
        default: '',
      },
      subTitle: {
        type: String,
        default: '',
      },
    },
    data() {
      const sortOrders = {};
      this.columns.forEach((key) => {
        sortOrders[key] = 0;
      });
      return {
        sortOrders,
      };
    },
    computed: {
      tableClass() {
        return `table-${this.type}`;
      },
    },
    methods: {
      updateItem(param) {
        this.$emit('update', param);
      },
      deleteItem(param) {
        this.$emit('delete', param);
      },
      sortBy(column) {
        this.sortOrders[column] = this.sortOrders[column] > 0 ? -1 : 1;
        for (let key in this.sortOrders) {
          this.sortOrders[key] = key == column ? this.sortOrders[column] : 0;
        };
        const sign = this.sortOrders[column] > 0 ? column.toLowerCase() : `-${column.toLowerCase()}`;
        this.$emit('sort', sign);
      },
      hasValue(item, column) {
        return item[column.toLowerCase()] !== 'undefined';
      },
      itemValue(item, column) {
        return item[column.toLowerCase()];
      },
    },
  };
</script>
<style>
  th.sort {
    cursor: pointer;
  }
  th.active {
    color: #EB5E28;
  }
</style>
