<%- include('../header'); -%>
  <body id="page-top">

<%- include('../navbar'); -%>

    <div id="wrapper">

<%- include('../sidebar'); -%>


      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Rss List</li>
          </ol>
          <% if(errors) {%>
            <% errors.forEach(function(error){ %>
               <p class="alert alert-danger"><%- error.msg -%></p>
            <% }); %>
          <% } %>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Rss List</div>
            <div class="card-body">
              <div class="table-responsive">
                <p>
  <a href="/dashboard/rss-list/create" class="btn btn-success" role="button">Create</a>
  </p>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Url</th>
                      <th>Date</th>
                      <th></th>  <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Url</th>
                      <th>Date</th>
                      <th></th>  <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if(list) {%>
                        <% list.forEach(function(one){ %>
                        <tr>
                          <td><%- one.title -%></td>
                          <td><%- one.url -%></td>
                          <td><%- one.date -%></td>
                          <td><a href="rss-list/<%- one._id -%>/edit" class="btn btn-warning">Edit</a></td><td>
                            <form action="/dashboard/rss-list/<%- one._id -%>?_method=DELETE" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                              <button type="submit"  class="btn btn-danger">Delete</button>
                          </form>
                        </td>
                        </tr>
                        <% }); %>
                      <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%- include('../logout-modal'); -%>

    <%- include('../js-code'); -%>

  </body>

</html>
