<%- include('../header'); -%>
  <body id="page-top">

<%- include('../navbar'); -%>

    <div id="wrapper">

<%- include('../sidebar'); -%>


      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Create new Rss channel</li>
          </ol>
          <% if(errors) {%>
            <% errors.forEach(function(error){ %>
               <p class="alert alert-danger"><%- error.msg -%></p>
            <% }); %>
          <% } %>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Update Rss channel</div>
            <div class="card-body">
              <div class="table-responsive">
                <form action="/dashboard/rss-list/<%- rssChannel._id -%>?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT">
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="title" name="title" id="inputTitle" class="form-control" placeholder="Title" required="required" autofocus="autofocus" value="<%- rssChannel.title -%>">
                      <label for="inputTitle">Title</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="url"  name="url"  id="inputUrl" class="form-control" placeholder="Url RSS" required="required" value="<%- rssChannel.url -%>">
                      <label for="inputUrl">Url</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary btn-block">Save</button>
                </form>

              </div>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%- include('../logout-modal'); -%>

    <%- include('../js-code'); -%>

  </body>

</html>
