a {
  color: #00B7FF;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
    background: #f7f7f9;
}
.list-group-item {
    background-color: #f1f1f1;
    text-align: left;
}
.list-group {
  margin-top: 70px;

}
.list-group a{
  color: #212529;
}
.navbar {
  background-color: #f1f1f1;
  border: 1px solid rgba(0,0,0,.125);
  min-height: 77px;
}
.flip-list-move {
transition: transform 2s;
}
.container-news {
  padding-top: 17px;
  min-height: calc(100vh - 25px);
}
footer {
  margin-top: 5px;
}
.custom-select {
  min-width: 100px;
  margin-right: 5px;
}