<!-- Bootstrap core JavaScript-->
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/public/vendor/chart.js/Chart.min.js"></script>
<script src="/public/vendor/datatables/jquery.dataTables.js"></script>
<script src="/public/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="/public/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="/public/js/demo/datatables-demo.js"></script>
<script src="/public/js/demo/chart-area-demo.js"></script>
