<%- include('header'); -%>
  <body id="page-top">

  <%- include('navbar'); -%>

    <div id="wrapper">

    <%- include('sidebar'); -%>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Settings</li>
          </ol>

          <!-- Icon Cards-->
          <% if(errors) {%>
            <% errors.forEach(function(error){ %>
               <p class="alert alert-danger"><%- error.msg -%></p>
            <% }); %>
          <% } %>
               <div class="card card-login  mx-auto mt-3">
                <div class="card-header">Сhange Profile</div>
                <div class="card-body">
                  <form action="/users/settings" method="post">
                    <div class="form-group">
                      <div class="form-label-group">
                        <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required="required" autofocus="autofocus" value="<%- username -%>">
                        <label for="inputUsername">Username</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-label-group">
                        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus" value="<%- email -%>">
                        <label for="inputEmail">Email</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-label-group">
                        <input type="password"  name="password"  id="inputPassword" class="form-control" placeholder="Password" required="required">
                        <label for="inputPassword">Password</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                  </form>
                </div>
              </div>




   <div class="card card-login  mx-auto mt-3">
   <div class="card-header">Change Password</div>
   <div class="card-body">
     <form action="/users/password" method="post">
       <div class="form-group">
         <div class="form-label-group">
           <input type="password"  name="currentPassword"  id="inputCurrentPassword" class="form-control" placeholder="currentPassword" required="required">
           <label for="inputCurrentPassword">Current password</label>
         </div>
       </div>
       <div class="form-group">
         <div class="form-label-group">
           <input type="password"  name="newPassword"  id="inputNewPassword" class="form-control" placeholder="newPassword" required="required">
           <label for="inputNewPassword">New Password</label>
         </div>
       </div>
       <div class="form-group">
         <div class="form-label-group">
           <input type="password"  name="repeatPassword"  id="inputRepeatPassword" class="form-control" placeholder="repeatPassword" required="required">
           <label for="inputRepeatPassword">Repeat Password</label>
         </div>
       </div>
       <button type="submit" class="btn btn-primary btn-block">Save</button>
     </form>
   </div>
 </div>
</div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%- include('logout-modal'); -%>

    <%- include('js-code'); -%>

  </body>

</html>
