<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard/rss-list">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>RSS List</span>
    </a>
  </li>
</ul>
