<template>
<div>

  <header class="masthead">
   <b-navbar toggleable="xs"
   type="light"
   variant="light"
   class="container fixed-top mt-2 navbar-expand-sm">
    <b-navbar-brand><a @click="shuffle">{{this.$config.title}}</a></b-navbar-brand>

     <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>
     <b-collapse id="nav-text-collapse" is-nav>
       <b-navbar-nav>
         <b-form-select v-model="model.country"
                        :options="location.country"
                        value-field="id"
                        text-field="name"
                        size="sm">                        

                        <b-form-select-option :value="undefined">
                                               All country
                        </b-form-select-option>
         </b-form-select>
         <b-form-select v-model="model.state"
                        :options="location.state[model.country]"
                        :disabled="!location.state[model.country]"
                        value-field="id"
                        text-field="name"
                        size="sm">

                        <b-form-select-option :value="undefined">
                                               All state
                        </b-form-select-option>
         </b-form-select>
         <!-- <b-form-select v-model="model.city"
                        :options="location.city[model.state]"
                        :disabled="!location.city[model.state]"
                        value-field="id"
                        text-field="name"
                        size="sm"
                        class="mt-3">

                        <b-form-select-option :value="undefined">
                                               All city
                        </b-form-select-option>
         </b-form-select> -->
         <b-button squared
                   @click="statusEfir"
                   variant="outline-secondary"
                   size="sm"
                   class="mr-2">
          <i :class="efir =='play' ? 'fa fa-play' : 'fa fa-stop'"></i>
                  {{ efir }}
        </b-button>
        <b-button squared
                  @click="cahngeSocket('/live')"
                  :variant="model.socket == '/live' ? 'secondary' : 'outline-secondary'"
                  size="sm"
                  class="mr-2">
                 Live
       </b-button>
       <b-button squared
                  @click="cahngeSocket('/social')"
                  :variant="model.socket == '/social' ? 'secondary' : 'outline-secondary'"
                  size="sm"
                  class="mr-2">
                Social
      </b-button>
            <b-button squared
                  @click="about()"
                  size="sm"
                  variant="light"
                  float="right"
                  class="float-right">
                About
      </b-button>
       </b-navbar-nav>
   
     </b-collapse>
    
   </b-navbar>
   
</header>
  <main class="container container-news d-flex  align-items-center">
    <div class="mx-auto">
        <transition-group name="flip-list" class="list-group" tag="ul">
        <li class="list-group-item"
            v-for="(item, index) in table.data" :id="item.id" :key="item.id" :data-index="index">
            <img :src="imgUrl(item)">
            <a :href="item.link" target="_blank">
            {{item.title}}
            </a>
            <!-- - ({{item.shareCount}}) -->
            <!-- <b> {{index}} </b> -->
          </li>
        </transition-group>
    </div>
 </main>
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
       &copy;  {{ new Date().getFullYear() }} {{this.$config.url}}
    </div>
  </footer>
</div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      PLAY: 'play',
      STOP: 'stop',
      efir: null,
      model: {
        country: 'US',
        state: undefined,
        city: undefined,
        socket: null,
        channel: undefined,
      },
      location: {
        country: [],
        state: {},
        city: {},
      },
      table: {
        data: [],
      },
      page: 1,
      limit: 100,
      sort: null,
      msg: 'Welcome to News',
    };
  },
  created() {
    this.efir = this.STOP;
    this.channel = undefined;
    this.initLocation();
  },
  watch: {
    'model.country':  async function () { this.countrySelect();  this.constructUrl(); },
    'model.state':  async function () { this.stateSelect(); this.constructUrl();},
    'model.city':  async function () { this.citySelect(); this.constructUrl(); },
    'model.socket': async function () {  await this.$socket.disconnect().connect(); this.fetchNews(); this.constructUrl()}
  },
  methods: {
    about() {
      this.table.data = [{ id: 'about', title: 'Welcome to NewsParallel. The news aggregator that will help you navigate the current events.' },
        { id: 'live', title: 'Live - live broadcast of current news.' },
        { id: 'social', title: 'Social - news popular in social networks.'},
        { id: 'contact', link: 'https://www.linkedin.com/in/vyacheslavbodrov/', title: 'Write to the developer about cooperation - click' },
      ];
    },
    async initLocation() {
      await this.countryFocus();
      await this.countrySelect();
      await this.stateSelect();
      await this.watchUrl();
    },
    watchUrl() {
      this.model.socket = this.$route.params.space === undefined ? '/live' : `/${this.$route.params.space}`;
      this.model.country = this.$route.params.country === undefined ? 'US' : this.$route.params.country;
      if (this.$route.params.country === 'all') { this.model.country = undefined; }
      this.model.state = this.$route.params.state === (undefined || 'all') ? undefined : this.$route.params.state;
    },
    constructUrl() {
      const space = this.model.socket;
      const state = !this.model.state ? 'all' : this.model.state;
      const country = !this.model.country ? 'all' : this.model.country;
      this.$router.push({ params: { space: space.replace('/', ''), country, state } });
    },
    statusEfir() {
      this.efir = (this.efir === this.STOP) ? this.PLAY : this.STOP;
    },
    cahngeSocket(socket) {
      this.model.socket = socket;
    },
    async countryFocus() {
      if (this.location.country.length === 0) {
        const response = await this.fetchLoc();
        this.location.country = response.data.loc;
      }
    },
    async countrySelect() {
      if (!this.model.country) {
        this.model.state = undefined;
        this.model.city = undefined;
        this.model.channel = this.model.country;
      }
      if (!!this.model.country && !this.location.state[this.model.country]) {
        const response = await this.fetchLoc(this.model.country);
        this.$set(this.location.state, this.model.country, response.data.loc);
        this.model.channel = this.model.country;
      }
      this.fetchNews();
    },
    async stateSelect() {
      this.model.city = null;
      if (!this.model.state) {
        this.model.channel = this.model.country;
        this.model.city = undefined;
      }
      if (!!this.model.state && !this.location.city[this.model.state]) {
        // const response = await this.fetchLoc(this.model.state);
        // this.$set(this.location.city, this.model.state, response.data.loc);
        this.model.channel = this.model.state;
      }
      this.fetchNews();
    },
    async citySelect() {
      if (!!this.model.city) {
        this.model.channel = this.model.city;
        this.fetchNews(); }
    },
    shuffle() {
      this.table.data.sort(() => Math.random() - 0.5);
    },
    imgUrl(item) {
      if (!item.rssTitle) { return ''; }
      return `${this.$url}public/img/logo/${item.rssTitle}`;
    },
    fetchLoc(parent = 'undefined') {
      return this.$api.get(`/parent-location/${parent}`);
    },
    async fetchNews() {
      this.$socket.nsp = this.model.socket;
 //     console.log(this.$socket);
      let channel = this.model.channel;
    //  alert(this.$socket.nsp)
      if (!!this.model.country) { channel = this.model.country; }
      if (!!this.model.state) { channel = this.model.state; }
      if (!!this.model.city) { channel = this.model.city; }
      if (!!this.model.country || !!this.model.state || !!this.model.city) { await this.$socket.emit('leave', channel);  await this.$socket.disconnect().connect(); }
    //  console.log(this.model.channel);
      if (channel !== this.model.channel) { await this.$socket.emit('leave', this.channel);   await this.$socket.disconnect().connect();}
      await this.$socket.emit('channel', channel);
    //  this.model.channel = channel;
   //   console.log(channel);
      await this.$socket.on('news', (result) => { 
        if (this.efir === 'stop') {
      //    console.log(result);
          this.table.data = result.news.map(data => ({
            id: data._id,
            title: data.title,
            link: data.link,
            content: data.content,
            shareCount: data.shareCount,
            rssTitle: data.rssTitle,
          }));
        }
      });
    },
  },
};
</script>
<style>
@import "../../static/css/bootstrap.min.css";
@import "../../static/css/grayscale.css";
@import "../../static/css/style.css";
@import "../../static/fontawesome-free/css/all.min.css";
@import "https://fonts.googleapis.com/css?family=Varela+Round";
@import "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i";
</style>
